<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Bundle pulls remote textures / glTFs via XHR. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Vulkan 1.0 is required to drive Dawn's Vulkan backend. -->
    <uses-feature
        android:name="android.hardware.vulkan.version"
        android:required="false"
        android:version="0x400003" />

    <application
        android:allowBackup="false"
        android:label="DawnTest"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen">

        <activity
            android:name="com.dawntest.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
